# ignore the app.yaml, as it contains secret API keys.
# example should be maintained at app.yaml.template
*.yaml
.DS_Store

# ignore compiled python files
*.pyc

# ignore all files in .secrets/ directory
.secrets/*.*
.idea/*.*
dist/
build/
privtext.egg-info/
